[Unit]
Description=Gunicorn server for 8.130.102.214

[Service]
Restart=on-failure
User=ltm
WorkingDirectory=/home/ltm/sites/8.130.102.214/source
ExecStart=/home/ltm/sites/8.130.102.214/virtualenv/bin/gunicorn--bind unix:/tmp/8.130.102.214.socket  notes.wsgi:application

[Install]
WantedBy=multi-user.target
